.loading-container .loading {
  background-color: inherit !important;
}

.loading-container .loading .spinner {
  width: 50px;
  height: 50px;
}

/*CFLOADINGBAR*/
#loading-bar .bar {
  background: brown !important;
  height: 2px !important;
}

#loading-bar-spinner {
  top: 48% !important;
  left: 45% !important;
}

#loading-bar-spinner .spinner-icon {
  width: 35px !important;
  height: 35px !important;
}

/*Shop Config*/
.input-color {
  background-color: aliceblue !important;
}

.panel-default > .panel-heading {
  background: #fafafa none !important;
}

.panel-default > .panel-footer {
  background: #fafafa none !important;
}

.summary-order {
  font-weight: 300;
  font-size: larger;
}

.summary-order-label {
  font-size: inherit;
  font-weight: normal;
}
