<ion-view view-title="View Order">
  <div class="row">
    <ion-content>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Order #123423321</h3>
          </div>
          <div class="panel-body">
            <div ng-cloak>
              <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                  <md-tab label="CUSTOMER">
                    <md-content class="md-padding">
                      <div class="form-group">
                        <label class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                          Anh Nguyen
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                          Anh Nguyen
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                          Anh Nguyen
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                          Anh Nguyen
                        </div>
                      </div>
                    </md-content>
                  </md-tab>
                  <md-tab label="ITEMS">
                    <md-content class="md-padding">
                      <h1 class="md-display-2">ITEMS</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
                        vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis
                        nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel
                        tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id
                        a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate,
                        euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor
                        eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor
                        vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                      <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien
                        sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis
                        diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis.
                        Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus
                        sapien.</p>
                      <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget
                        congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci
                        commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                  </md-tab>
                  <md-tab label="SUMMARY">
                    <md-content class="md-padding">
                      <h1 class="md-display-2">SUMMARY</h1>
                      <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget
                        congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci
                        commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                  </md-tab>
                </md-tabs>
              </md-content>
            </div>
          </div>
          <div class="panel-footer">
            Footer
          </div>
        </div>
      </div>


    </ion-content>
  </div>
  <div class="bar bar-footer bar-dark">
    <button class="button button-clear pull-left"><i class="ion-chevron-left"></i></button>
    <div class="title view-order-select-page">
      <md-select ng-model="ViewOrderCtrl.model.currentPage">
        <md-option ng-repeat="page in ViewOrderCtrl.data.pages" value="{{page.value}}">
          {{page.label}}
        </md-option>
      </md-select>
    </div>
    <button class="button button-clear pull-right" style="top: 0.5px;"><i class="ion-chevron-right"></i></button>
  </div>
</ion-view>
