<ion-view view-title="Configuration">
  <ion-content class="animate-fade-slide-in">
    <button class="button button-full button-stable">
      Generate
    </button>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Loading Type
        </div>
        <select ng-change="changeLoadingType()"
                ng-model="$parent.AppCtrl.data.iconLoading">
          <option ng-selected="option.value == $parent.AppCtrl.data.iconLoading" ng-repeat="option in ConfigurationCtrl.data.loadingType"
                  value="{{option.value}}">{{option.label}}
          </option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Loading Type
        </div>
        <select ng-change="changeLanguage()"
                ng-model="$parent.AppCtrl.data.language">
          <option ng-selected="option.value == $parent.AppCtrl.data.iconLoading" ng-repeat="option in ConfigurationCtrl.data.languages"
                  value="{{option.value}}">{{option.label}}
          </option>
        </select>
      </label>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="tabs tabs-dark">
      <a class="tab-item"> Generate </a>
      <a class="tab-item"> Favorites </a>
      <a class="tab-item"> Settings </a>
    </div>
  </ion-footer-bar>
</ion-view>
