<ion-view view-title="General">
  <ion-content class="padding">
    <md-list ng-cloak>
      <md-subheader class="md-no-sticky">General</md-subheader>
      <md-list-item>
        <p> {{ 'LOADING_TYPE' | translate}} </p>
        <md-input-container md-no-float class="md-block md-secondary" flex-gt-sm>
          <md-select ng-model="$parent.AppCtrl.data.iconLoading">
            <md-option ng-change="changeLoadingType()" ng-selected="option.value == $parent.AppCtrl.data.iconLoading"
                       ng-repeat="option in ConfigurationCtrl.data.loadingType"
                       value="{{option.value}}">{{option.label}}
            </md-option>
          </md-select>
        </md-input-container>
      </md-list-item>
      <md-list-item>
        <p> {{ 'LANGUAGE' | translate}} </p>
        <md-input-container md-no-float class="md-block md-secondary" flex-gt-sm>
          <md-select ng-change="changeLanguage()" ng-model="$parent.AppCtrl.data.language">
            <md-option ng-selected="option.value == $parent.AppCtrl.data.language" ng-repeat="option in ConfigurationCtrl.data.languages"
                       value="{{option.value}}">{{option.label}}
            </md-option>
          </md-select>
        </md-input-container>
      </md-list-item>
      <md-divider></md-divider>
      <br>
      <br>
    </md-list>
  </ion-content>
</ion-view>
