<ion-view view-title="Shop">
  <ion-content class="padding">
    <form name="shopConfig">
      <md-list ng-cloak>
        <md-subheader class="md-no-sticky">Authentication</md-subheader>
        <md-list-item>
          <p> {{ 'WEBSITE_URL' | translate}} </p>
          <md-input-container md-no-float class="md-block md-secondary" flex-gt-sm>
            <input ng-change="changeConfig('website_url',ShopConfigCtrl.model.websiteUrl)" required name="websiteUrl"
                   ng-model="ShopConfigCtrl.model.websiteUrl">
            <div ng-messages="shopConfig.websiteUrl.$error">
              <div ng-message="required">{{ 'ERROR_REQUIRE' | translate}}</div>
            </div>
          </md-input-container>
        </md-list-item>
        <md-list-item>
          <p> {{ 'WEBSITE_PASS' | translate}} </p>
          <md-input-container md-no-float class="md-block md-secondary" flex-gt-sm>
            <input ng-change="changeConfig('website_pass',ShopConfigCtrl.model.websitePass)" type="password" required name="websitePass"
                   ng-model="ShopConfigCtrl.model.websitePass">
            <div ng-messages="shopConfig.websitePass.$error">
              <div ng-message="required">{{ 'ERROR_REQUIRE' | translate}}</div>
            </div>
          </md-input-container>
        </md-list-item>
        <md-divider></md-divider>

        <md-subheader class="md-no-sticky">Single Action Checkboxes</md-subheader>
        <md-list-item ng-repeat="topping in toppings">
          <p> {{ topping.name }} </p>
          <md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>
        </md-list-item>
        <md-divider></md-divider>

        <md-subheader class="md-no-sticky">Download Data When</md-subheader>
        <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" ng-repeat="setting in settings">
          <i style="font-size: 200%;margin-right: 20px;" class="{{setting.icon}}"></i>
          <p> {{ setting.name }} </p>
          <md-switch class="md-secondary" ng-model="setting.enabled"></md-switch>
        </md-list-item>
        <md-divider></md-divider>

        <md-subheader class="md-no-sticky">Checkbox with Secondary Action</md-subheader>
        <md-list-item ng-repeat="message in messages">
          <md-checkbox ng-model="message.selected"></md-checkbox>
          <p>{{message.title}}</p>
          <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
        </md-list-item>
        <md-divider></md-divider>

        <!--<md-subheader class="md-no-sticky">Avatar with Secondary Action Icon</md-subheader>-->
        <!--<md-list-item ng-repeat="person in people" ng-click="goToPerson(person.name, $event)" class="noright">-->
        <!--<img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar"/>-->
        <!--<p>{{ person.name }}</p>-->
        <!--<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>-->
        <!--<md-icon md-svg-icon="communication:email" ng-click="doSecondaryAction($event)" aria-label="Send Email"-->
        <!--class="md-secondary md-hue-3"></md-icon>-->
        <!--<md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>-->
        <!--</md-list-item>-->

        <br>
        <br>
      </md-list>
    </form>
  </ion-content>
</ion-view>
