<ion-view view-title="Getting Started">
  <ion-content class="animate-fade-slide-in">
    <div class="card">
      <div class="item item-text-wrap">
        <b>Download Data Offline Mode.</b><br>
        You can click reload button for update new data manually
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap item-button-right">
        <span style="font-size: larger">Product Data</span>
        <div style="padding-top: 25px;width: 120%">
          <md-progress-linear md-mode="determinate" value="{{20}}"></md-progress-linear>
        </div>
        <button class="button button-positive">
          <i class="icon ion-ios-refresh-outline"></i>
        </button>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap item-button-right">
        <span style="font-size: larger">Customer Data</span>
        <div style="padding-top: 25px;width: 120%">
          <md-progress-linear md-mode="determinate" value="{{20}}"></md-progress-linear>
        </div>
        <button class="button button-positive">
          <i class="icon ion-ios-refresh-outline"></i>
        </button>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap item-button-right">
        <span style="font-size: larger">Sales Rule Data</span>
        <div style="padding-top: 25px;width: 120%">
          <md-progress-linear md-mode="determinate" value="{{20}}"></md-progress-linear>
        </div>
        <button class="button button-positive">
          <i class="icon ion-ios-refresh-outline"></i>
        </button>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap item-button-right">
        <span style="font-size: larger">Another Data</span>
        <div style="padding-top: 25px;width: 120%">
          <md-progress-linear md-mode="determinate" value="{{20}}"></md-progress-linear>
        </div>
        <button class="button button-positive">
          <i class="icon ion-ios-refresh-outline"></i>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
