<ion-view view-title="Customers">
  <div class="row">
    <ion-content>
      <div class="panel1 panel-default1">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 25px">
          <ui-select ng-model="SearchCustomerCtrl.model.customer" theme="bootstrap" on-select="selectCustomer()">
            <ui-select-match placeholder="Select or search a customer in the list...">{{$select.selected.first_name}} - {{$select.selected.last_name}}
            </ui-select-match>
            <ui-select-choices repeat="item in SearchCustomerCtrl.data.customers | filter: $select.search">
              <div ng-bind-html="item.first_name | highlight: $select.search"></div>
              <small ng-bind-html="item.email | highlight: $select.search"></small>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 25px" ng-show="!!SearchCustomerCtrl.model.customer.id">
          <div class="panel panel-default">
            <div class="panel-body">
              <div ng-cloak>
                <md-content>
                  <md-tabs md-dynamic-height md-border-bottom
                           md-stretch-tabs="always">
                    <md-tab label="Information">
                      <md-content class="md-padding">
                        <md-list>
                          <md-subheader class="md-no-sticky">General Information</md-subheader>
                          <md-list-item>
                            <table class="table customerInfomation">
                              <tr>
                                <td width="42%">ID</td>
                                <td>{{SearchCustomerCtrl.model.customer.id}}</td>
                              </tr>
                              <tr>
                                <td>First Name</td>
                                <td>{{SearchCustomerCtrl.model.customer.first_name}}</td>
                              </tr>
                              <tr>
                                <td>Last Name</td>
                                <td>{{SearchCustomerCtrl.model.customer.last_name}}</td>
                              </tr>
                              <tr>
                                <td>Email</td>
                                <td>{{SearchCustomerCtrl.model.customer.email}}</td>
                              </tr>
                              <tr>
                                <td>Gender</td>
                                <td>{{SearchCustomerCtrl.model.customer.gender}}</td>
                              </tr>
                              <tr>
                                <td>Group Id</td>
                                <td>{{SearchCustomerCtrl.model.customer.group_id}}</td>
                              </tr>
                            </table>
                          </md-list-item>
                          <md-divider></md-divider>

                          <md-subheader class="md-no-sticky">Address Information</md-subheader>
                          <md-list-item>
                            <table class="table customerInfomation">
                              <tr>
                                <td width="35%">City</td>
                                <td>{{SearchCustomerCtrl.model.customerAdd.city}}</td>
                              </tr>
                              <tr>
                                <td width="35%">Country Code</td>
                                <td>{{SearchCustomerCtrl.model.customerAdd.city}}</td>
                              </tr>
                              <tr>
                                <td>Region</td>
                                <td>{{SearchCustomerCtrl.model.customerAdd.region}}</td>
                              </tr>
                              <tr>
                                <td>Telephone</td>
                                <td>{{SearchCustomerCtrl.model.customerAdd.telephone}}</td>
                              </tr>
                              <tr>
                                <td>Street</td>
                                <td>{{SearchCustomerCtrl.model.customerAdd.street}}</td>
                              </tr>
                            </table>
                          </md-list-item>
                          <md-divider></md-divider>

                          <md-subheader class="md-no-sticky">Action</md-subheader>
                          <md-list-item ng-repeat="topping in toppings">
                            <p> {{ topping.name }} </p>
                            <md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>
                          </md-list-item>
                          <md-divider></md-divider>
                          <br>
                        </md-list>
                      </md-content>
                    </md-tab>
                    <md-tab label="Orders">
                      <md-content class="md-padding">
                        <div ng-repeat="order in SearchCustomerCtrl.model.customerOrders" class="panel panel-default">
                          <div class="panel-body">
                            <table class="table customerInfomation">
                              <tr>
                                <td width="42%">Order #</td>
                                <td>{{order.increment_id}}</td>
                              </tr>
                              <tr>
                                <td width="42%">Status</td>
                                <td>{{order.status}}</td>
                              </tr>
                              <tr>
                                <td width="42%">Created at</td>
                                <td>{{order.created_at}}</td>
                              </tr>
                              <tr>
                                <td width="42%">Grand total</td>
                                <td>
                                  {{order.grand_total}}<span
                                  style="font-weight: bolder;font-size: smaller">&nbsp;{{order.order_currency_code}} </span>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </md-content>
                    </md-tab>
                  </md-tabs>
                </md-content>
              </div>
            </div>
          </div>

        </div>
      </div>

    </ion-content>
  </div>
</ion-view>
